.appear-screen-inline-block{
display: inline-block;
}

.appear-screen-block{
display: block;
}

.disappear-screen{
display: none;
}

.container{
width: 990px;
}

.appear-screen-inline{
display: inline;
}

/*********************************
FONT SIZE!!!!!!!!!!!!!!!!!!!!!!!!!
*********************************/

.font-size1{
  font-size: 2.3rem; /*English intro title and h2*/
}

.font-size2{
  font-size: 2.2rem; /*Hebrew intro title*/
}

.font-size3{
  font-size: 5.7rem; /*White presentation title*/
}

.font-size4{
  font-size: 2.5rem; /*Hebrew black presentation title*/
}

.font-size5{
  font-size: 1.1rem; /*Text in navigation bar*/
}

.font-size6{
  font-size: 1.8rem; /*Lecture title*/
}

.font-size7{
  font-size: 1rem;
}

.font-size8{
  font-size: 1rem; /*Little text aside h2 in direction section*/
}

.font-size9{
  font-size: 1.1rem; /*Title down h2 in direction section*/
}

.font-size10{
  font-size: 0.9rem; /*Paragraph in direction section*/
}

.font-size11{
  font-size: 0.7rem; /*Text down the map*/
}

.font-size12{
  font-size: 3rem;
}

.font-size13{
  font-size: 2.5rem; /*Hour*/
}

.font-size14{
  font-size: 1.5rem; /*NETCRAFT title in about us section*/
}

.font-size15{
  font-size: 3rem;
}


.font-size16{
  font-size: 1.4rem;
}


/*MIDDLE BLOCK EXTRA INFO WIDTH*/
.width8{
width: 200px;
}

/*MARGIN FOR EXTRA INFO SECTION*/

.margin-left2{
margin-left: 25px;
}

.margin-right3{
margin-right: 5px;
}

.margin-top4{
  margin-top: 80px;
}

.padding-top2{
  padding-top: 20px;
}

.padding-top5{
  padding-top: 59px;
}

.padding-bottom4{
  padding-bottom: 54px;
}

.padding-bottom5{
  padding-bottom: 37px;
}
